# Godot editor & cache
.godot/

# Import & UID cache
*.import
*.uid

# Build output
build/

# Unity Ads iOS plugin built artifacts
ios/plugins/unity-ads/bin/
ios/plugins/unity-ads/vendor/

# Opencode superpowers
.superpowers/
docs/superpowers/

# Fastlane
vendor/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Ruby
Gemfile.lock

# macOS
.DS_Store
